<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>

<div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae aut itaque non quibusdam, eligendi temporibus ratione aspernatur eum. Molestias inventore earum delectus suscipit ad excepturi sunt officiis saepe voluptatem eos!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio nihil ex harum, accusamus porro saepe, rem explicabo sapiente voluptatum quos commodi beatae nisi atque dolores eius quisquam! Porro, eum vitae?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit animi, numquam fugit obcaecati ad minima quia dolores adipisci corrupti, dolor eligendi amet. Asperiores rerum fuga nemo, repudiandae dignissimos perspiciatis aperiam?</p>
</div>

</body>
<%- include('./partials/footer.ejs') %>
</html>